apiVersion: v1
kind: Secret
metadata:
  name: gitsum-secrets
type: Opaque
data:
  mongodb-uri: BASE64_ENCODED_MONGODB_URI
  jwt-secret: BASE64_ENCODED_JWT_SECRET
  stripe-secret-key: BASE64_ENCODED_STRIPE_SECRET_KEY
  stripe-webhook-secret: BASE64_ENCODED_STRIPE_WEBHOOK_SECRET
  openai-api-key: BASE64_ENCODED_OPENAI_API_KEY
